* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(255, 255, 255);
    height: 300px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.main,
.logo,
.site_content,
.footer {
    margin-left: auto;
    margin-right: auto;
}

.logo_img_layer1 {
    background-size: cover;
    background-image: url(/assets/img/Layer1.jpg);
    height: 355px;
    background-repeat: no-repeat;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.logo1 {
    font: small-caps bold 40px/1 sans-serif;
    color: rgb(4, 58, 114);
    letter-spacing: 10px;
    text-align: right;
    margin-right: 150px;
    margin-top: 300px;
    line-height: 0;
}

.logo2 {
    font: 1.3em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    text-align: left;
    margin-left: 20px;
}

.menubar {
    margin-left: 100px;
    margin-top: 20px;

}

ul.menu {
    float: center;
}

ul.menu li {
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 3px 2px 0 0;
}

ul.menu li a {
    font: 1.4em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    display: block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
}

ul.menu li.selected a {
    color: #aeb002;
}

ul.menu li a:hover {
    color: rgb(255, 0, 0);
}

hr {
    border: solid 1px #f3f3f3;
}

.content1 {

    position: relative;
    margin: 0;
    display: inline-block;
    
}

.content a {
    text-decoration: none;
}

.bestsportsman {
    background: #f9f9f9;
    
    height: 100px;
    display: inline-block;
    margin: 0;
}

.bestsportsman img {
    float: left;
    margin-right: 2%;
    border-radius: 50%;
    border: solid 5px #dad7d5;
    width: 5%;
}

.bestsportsman h1 {
    font: 1.3em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    margin-top: 10px;
    margin-bottom: 25px;
}

.bestsportsman p {
    font: 1em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    margin-bottom: 0px;
}



.footer {
    background-size: cover;
    background-image: url(/assets/img/Layer3.jpg);
    width: 100%;
    height: 350px;
    padding: 0 0 5px 0;
    text-align: center;
    bottom: 0;
    color: #a8aa94;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
  
}

.footer a {
    color: #a8aa94;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer p {
    padding: 0 0 10px 0;
    text-align: center;
    font: 1.1em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    margin: 0 0 0 0;

}

.social {
    background-position: center;
    display: inline-block;
}